<html>
<head>
    <title>Добавление книги</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<h1>Add Book</h1>
<body>
<div>
    <form method="post">
        <input type="text" name="title" placeholder="Введите название книги" />
        <br>
        <br>

        <input type="text" name="description" placeholder="Введите описание" />
        <br>
        <br>

        <input type="text" name="author" placeholder="Введите автора" />
        <br>
        <br>

        <input type="number" name="isbn" placeholder="Введите исбн" />
        <br>
        <br>

        <input type="number" name="printYear" placeholder="Введите год" />
        <br>
        <br>

        <input type="radio"  name="readAlready" value="true">True
        <input type="radio"  name="readAlready" value="false" checked>False
        <br>
        <br>
        <button type="submit" >Добавить</button>
    </form>
</div>
</body>
</html>